body
{
    font-family: 'Courier New', Courier, monospace;
    background-image: url(https://media.istockphoto.com/photos/star-field-at-night-picture-id501655522?b=1&k=20&m=501655522&s=170667a&w=0&h=yxV0H4RLzwn_roNsSxejPhL0JAQl7YGguAeL1PtniZw=);
}
table, tr
{
    border-color: aqua;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
}
h1
{
    color: aqua;
}
a:link
{
    color: yellow;
}
a:visited
{
    color: aqua;
}