body,html
{
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    text-align: center;
}
.bg
{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/53/Vaporwave-4K-Wallpapers.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
table, tr
{
    border-color: aqua;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
    margin: auto;
}
h1,h3
{
    color: aqua;
}
a:link
{
    color: yellow;
}
a:visited
{
    color: aqua;
}