body
{
    font-family: 'Courier New', Courier, monospace;
    background-image: url(swhatter.jpg);
}
table, tr
{
    border-color: aqua;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
}
h1,h3
{
    color: aqua;
}
a:link
{
    color: yellow;
}
a:visited
{
    color: aqua;
}